.title {
  background: -webkit-linear-gradient(#5edbc5, #e5e5e5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}


.event_card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  background: #394343;

}

.event_card_image {
  width: 220px;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.card_content {
  padding: 1rem;
}

.card_title {
  background: -webkit-linear-gradient(#5EDBC5, #E5E5E5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 19.8191px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}

.card_text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */

  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;

  color: #EAEAEA;
}