.mainContainer {
    margin: 4rem 0 3rem 0;
    height: fit-content;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4rem 0 3rem 0;

    width: 100vw;

    height: fit-content;

}

.title {
    color: #5EDBC5;

    background: -webkit-linear-gradient(#5EDBC5, #E5E5E5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 36px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
}

.imageMainContainer {
    width: 100vw;
    height: fit-content;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.imageItemContainer {
    height: 216px;
    width: 384px;

    display: flex;

    margin: 2rem;
}

.imageItem {}

@media (max-width: 700px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        margin: 3rem 0 2rem 0;
        width: 100%;
    }
}