.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;

  overflow: hidden;
  background: linear-gradient(180deg, #182424 0%, #273232 52.08%, #092727 100%);

  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}