.teamContainer {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;

    /* background-color: transparent;
    background-image: linear-gradient(45deg,
            transparent 24%,
            #1B2525 25%,
            #1B2525 26%,
            transparent 27%,
            transparent 74%,
            #1B2525 75%,
            #1B2525 76%,
            transparent 77%,
            transparent),
        linear-gradient(135deg,
            transparent 24%,
            #1B2525 25%,
            #1B2525 26%,
            transparent 27%,
            transparent 74%,
            #1B2525 75%,
            #1B2525 76%,
            transparent 77%,
            transparent);
    background-size: 35px 35px; */

    margin-top: 5rem;
}

.title {
    background: -webkit-linear-gradient(#5EDBC5, #E5E5E5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 36px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;

    width: 217px;
    height: 265px;

    border-radius: 8px;
    margin: 1rem;

    border-radius: 80px;
    border: 2px solid white;
}

.imageItemContainer {
    width: 200px;
    height: 186px;

    border-radius: 80px;

    margin: 12px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageItemContainer:hover .imageItemOverlay {
    opacity: 1;
}

.imageItemOverlay {
    width: 200px;
    height: 186px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: absolute;

    opacity: 0;

    transition: .3s ease;
    background-color: transparent;
}

.imageItemOverlay:hover {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.imageItemOverlayItem {
    margin: 1rem;
    transform: scale(1.4);
}

.imageItem {
    width: 200px;
    height: 186px;
    position: absolute;

    border-radius: 0.4rem;
    overflow: hidden;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 188px;
    height: 51px;

    margin: 0 0 2rem 0px;
}

.boardName {
    background: -webkit-linear-gradient(#5EDBC5, #E5E5E5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    width: 200px;
    height: 30px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #77B7B7;

}

.boardDes {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 21px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;

    color: #EDEDED;

    text-align: center;
}

.imageRowsContainer {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

}

.imageRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

}

@media (max-width:700px) {
    .imageRow {
        justify-content: center;
        align-items: center;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

    .offsetImage {
        /* margin-top: 0; */
        margin: 1rem;
    }
}

@media (min-width:700px) and (max-width:900px) {
    .imageRow {
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
    }

    .offsetImage {
        margin-top: 0;
    }
}